body.preload * {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}

body.about-us-body {
  overflow-x: hidden;
}

body.about-us-body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* members */

.members-container {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 80px;
}

.member-container {
  box-shadow: 6px 6px 10px 2px #d3d3d3;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s;
}

.member-container:hover {
  transform: scale(1.05, 1.05);
  box-shadow: 6px 6px 40px 2px #d3d3d3;
}

.member-container img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.member-text-container {
  padding: 20px 30px;
  position: relative;
  text-align: center;
}

.member-text-container::before {
  content: "";
  position: absolute;
  background: #fff;
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
  width: 40px;
  height: 20px;
  left: 50%;
  transform: translateX(-50%);
  top: -21.5px;
}

.member-position {
  font-size: 0.9rem;
  color: var(--secondaryTextColor);
}

.member-text-container .separator {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background: var(--primaryColor);
  height: 2px;
  width: 25%;
  margin: 10px 0;
}

@media screen and (max-width: 1050px) {
  .members-container {
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 60px;
  }
}

@media screen and (max-width: 750px) {
  .members-container {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 40px;
  }
}

@media screen and (max-width: 600px) {
  .member-container img {
    height: 240px;
  }
}

/* modal */

.about-us-modal {
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}

.about-us-modal .overlay {
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 70%;
}

.about-us-modal .about-us-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 80%;
  background: #cd7003;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  grid-column-gap: 40px;
  grid-auto-rows: 100%;
  animation: blowUpModalTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  overflow: hidden;
  padding: 40px;
  border-radius: 15px;
}

.about-us-modal .about-us-modal-content .about-us-modal-text-content {
  text-align: justify;
  overflow-y: scroll;
}

.about-us-modal-text-content * {
  color: #fff;
  line-height: 1.6em;
}

.about-us-modal-text-content .member-name {
  font-family: var(--alternateFont);
}

.about-us-modal-text-content .member-position {
  margin-bottom: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.about-us-modal .about-us-modal-content .about-us-modal-image-container {
  overflow: hidden;
}

.about-us-modal .about-us-modal-content .about-us-modal-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.2s;
  position: relative;
}

.about-us-modal-content::after {
  content: "";
  position: absolute;
  left: -600%;
  width: 1300%;
  padding-bottom: 1300%;
  top: 80%;
  background: none;
  border-radius: 50%;
  box-shadow: 0 0 0 9999px var(--primaryColor);
  z-index: -1;
}

.about-us-modal + .members-container {
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@media screen and (max-width: 1200px) {
  .about-us-modal .about-us-modal-content {
    width: 80%;
    padding: 30px;
    grid-column-gap: 30px;
  }
}

@media screen and (max-width: 680px) {
  .about-us-modal .about-us-modal-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1.7fr 1fr;
    grid-row-gap: 40px;
    height: 85%;
  }

  .about-us-modal .about-us-modal-content .about-us-modal-text-content {
    font-size: 14px;
  }

  .about-us-modal .about-us-modal-content .about-us-modal-image-container {
    grid-row-start: 1;
  }
}

/* enabled modal */

.about-us-modal.enabled {
  opacity: 100%;
  z-index: 2;
}

.about-us-modal.enabled .overlay {
  cursor: pointer;
}

.about-us-modal.enabled .about-us-modal-content {
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.about-us-modal.enabled + .members-container {
  animation: blowUpContent 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes blowUpModal {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
}
