.impact-container {
  margin: 40px auto 0 auto;
  width: 74%;
}

.impact {
  margin: 40px 0;
}

.impact h1 {
  font-size: 1.6rem;
}

.impact p {
  margin-top: 15px;
  text-align: justify;
  line-height: 1.5em;
}
