.impact-container {
  margin: 20px auto;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.impact {
  margin: 40px 0;
}

.impact h1 {
  font-size: 1.6rem;
  font-family: var(--alternateFont);
}

.impact p {
  margin-top: 15px;
  text-align: justify;
  line-height: 1.5em;
}

@media screen and (max-width: 600px) {
  .impact-container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
}
