nav {
  height: var(--navbarHeight);
  background: #fff;
  position: relative;
  display: flex;
  border-top: 6px solid var(--primaryColor);
}

nav .logo {
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
  padding: 10px;
  margin-left: 10px;
}

nav .logo img {
  height: 100%;
  object-fit: contain;
}

nav .logo h1 a {
  cursor: pointer;
  margin-left: 5px;
  font-weight: 1500;
  text-decoration: none;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
}

nav ul li {
  margin: 0 30px;
  cursor: pointer;
  font-size: 1.1rem;
  padding-bottom: 5px;
  position: relative;
  transition: all 0.2s 0s;
}

nav ul li:hover {
  color: var(--primaryColor);
}

nav ul li::after {
  content: "";
  height: 2px;
  background: var(--primaryColor);
  width: 100%;
  transition: all 0.2s 0s;
  position: absolute;
  opacity: 0%;
  left: 0;
  bottom: -5px;
  right: 0;
}

nav ul li:hover::after {
  opacity: 100%;
}

@media screen and (max-width: 950px) {
  nav ul {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 650px) {
  nav .logo h1 {
    display: none;
  }
}
